<div class="page-header">
  <h1>
    Bullets
    <a href="/bullets/new" class="btn btn-lg btn-success">New Bullet</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "bullets_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :body_cont, "Body contains" %>
    <%= f.text_field :body_cont, :class => "form-control", :placeholder => "Body contains" %>
  </div>

<div class="form-group">
    <%= f.label :type_cont, "Type contains" %>
    <%= f.text_field :type_cont, :class => "form-control", :placeholder => "Type contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :organization_organization_cont, "Organization organization contains" %>
      <%= f.text_field :organization_organization_cont, :class => "form-control", :placeholder => "Organization organization contains" %>
    </div>

<div class="form-group">
      <%= f.label :user_username_cont, "User username contains" %>
      <%= f.text_field :user_username_cont, :class => "form-control", :placeholder => "User username contains" %>
    </div>

<div class="form-group">
      <%= f.label :tags_tag_name_cont, "Tag tag_name contains" %>
      <%= f.text_field :tags_tag_name_cont, :class => "form-control", :placeholder => "Tag tag_name contains" %>
    </div>

<div class="form-group">
      <%= f.label :resumes_name_cont, "Resume name contains" %>
      <%= f.text_field :resumes_name_cont, :class => "form-control", :placeholder => "Resume name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/bullets" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#bullets_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Organization</th>
        <th>User</th>
        <th>Type</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% @bullets.each do |bullet| %>
      <tr>
        <td>
          <% if bullet.organization.present? %>
            <a href="/organizations/<%= bullet.organization.id %>">
              <%= bullet.organization.organization %>
            </a>
          <% end %>
        </td>
        <td>
          <% if bullet.user.present? %>
            <a href="/users/<%= bullet.user.id %>">
              <%= bullet.user.username %>
            </a>
          <% end %>
        </td>
        <td><%= bullet.type %></td>
        <td><%= bullet.body %></td>
        <td>
          <a href="/bullets/<%= bullet.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == bullet.user %>
            <a href="/bullets/<%= bullet.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_bullet/<%= bullet.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bullets, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
