<!-- Add a bullet at the bottom nav-bar..............  -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a href="/bullets/new" class="btn btn-success btn-block">
          Add Bullet
        </a>
  </div>
</nav>

<div class="page-header">
  <h1>
    <%=current_user.username.capitalize%>'s History
    <!-- <a href="/bullets/new" class="btn btn-lg btn-success">New Bullet</a> -->
  </h1>


<!-- THE FILTER!   .................................................   -->
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "bullets_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :body_cont, "Body contains" %>
    <%= f.text_field :body_cont, :class => "form-control", :placeholder => "Body contains" %>
  </div>

<div class="form-group">
    <%= f.label :category_cont, "Type contains" %>
    <%= f.text_field :category_cont, :class => "form-control", :placeholder => "Type contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :organization_organization_cont, "Organization organization contains" %>
      <%= f.text_field :organization_organization_cont, :class => "form-control", :placeholder => "Organization organization contains" %>
    </div>

<div class="form-group">
      <%= f.label :user_username_cont, "User username contains" %>
      <%= f.text_field :user_username_cont, :class => "form-control", :placeholder => "User username contains" %>
    </div>

<div class="form-group">
      <%= f.label :resumes_name_cont, "Resume name contains" %>
      <%= f.text_field :resumes_name_cont, :class => "form-control", :placeholder => "Resume name contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/bullets" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#bullets_filters">
      Show Filters
    </a>
  </div>
</div>

<!-- END FILTER....................................................................... -->

<%@organizations.each do |organization|%>
<table width=100%>
  <tr>
    <td class="text-left"> <h3><a href="/organizations/<%=organization.id%>">  <%=organization.organization%> </h3> </a> </td>
    <td class="text-right">
      <h5> <%=organization.start_month%> - <%=organization.end_month%> | </h5>
    </td>
  </tr>
</table>



<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Organization</th>
        <th>Type</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% organization.bullets.each do |bullet| %>
      <tr>
        <td>
          <% if bullet.organization.present? %>
            <a href="/organizations/<%= bullet.organization.id %>">
              <%= bullet.organization.organization %>
            </a>
          <% end %>
        </td>
        <td><%= bullet.category %></td>
        <td><%= bullet.body %>
        <br><small class="text-muted"><%=bullet.tags.pluck(:name).to_sentence%></small>
        </td>

        <td>
          <a href="/bullets/<%= bullet.id %>" class=>tag</a>

          <% if current_user == bullet.user %>
            <a href="/bullets/<%= bullet.id %>/edit" >edit</a>
            <a href="/delete_bullet/<%= bullet.id %>" rel="nofollow">delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bullets, theme: 'twitter-bootstrap-4' %>


<%end%>

  </div>
</div>

<br><br><br><br>
