<!-- Add a bullet at the bottom nav-bar..............  -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <a href="/bullets/new" class="btn btn-success btn-block">
          Add Bullet
        </a>
  </div>
</nav>

<div class="page-header">
  <h1>
    <%=current_user.username.capitalize%>'s History
    <!-- <a href="/bullets/new" class="btn btn-lg btn-success">New Bullet</a> -->
  </h1>


<%@organizations.each do |organization|%>
<table width=100%>
  <tr>
    <td class="text-left"> <h3><a href="/organizations/<%=organization.id%>">  <%=organization.organization%> </h3> </a> </td>
    <td class="text-right">
      <h5> <%=organization.start_month%> - <%=organization.end_month%>  <small> <%=organization.category%></small> </h5>
    </td>
  </tr>
</table>



<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Organization</th>
        <th>Body</th>
        <th>Actions</th>
      </tr>

      <% organization.bullets.each do |bullet| %>
      <tr>
        <td>
          <% if bullet.organization.present? %>
            <a href="/organizations/<%= bullet.organization.id %>">
              <%= bullet.organization.organization %>
            </a>
          <% end %>
        </td>
        <td><%= bullet.body %>
        <br><small class="text-muted"><%=bullet.tags.pluck(:name).to_sentence%></small>
        </td>

        <td>
          <a href="/bullets/<%= bullet.id %>" class=>tag</a>

          <% if current_user == bullet.user %>
            <a href="/bullets/<%= bullet.id %>/edit" >edit</a>
            <a href="/delete_bullet/<%= bullet.id %>" rel="nofollow">delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @bullets, theme: 'twitter-bootstrap-4' %>


<%end%>

  </div>
</div>

<br><br><br><br>
