<div class="page-header">
  <h3>Bullet #<%= @bullet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Organization</dt>
      <dd><%= @bullet.organization_id %></dd>

      <dt>User</dt>
      <dd><%= @bullet.user_id %></dd>

      <dt>Type</dt>
      <dd><%= @bullet.type %></dd>

      <dt>Body</dt>
      <dd><%= @bullet.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bullets" class="btn btn-primary">
        Back
      </a>
      <a href="/bullets/<%= @bullet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_bullet/<%= @bullet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
