<!-- Validation failure messages -->
<% if @saved_statement.errors.any? %>
  <% @saved_statement.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Saved Statement #<%= @saved_statement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_saved_statement/<%= @saved_statement.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for statement_id -->
      <div class="form-group">
        <label for="statement_id" class="control-label">
          Statement
        </label>

        <%= select_tag(:statement_id, options_from_collection_for_select(Statement.all, :id, :body, @saved_statement.statement_id), :class => "form-control") %>
      </div>

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <input type="text" id="resume_id" name="resume_id" placeholder="Resume" class="form-control" value="<%= @saved_statement.resume_id %>">
      </div>

      <button class="btn btn-warning">
        Update Saved Statement
      </button>
      or
      <a href="/saved_statements/<%= @saved_statement.id %>">Cancel</a>
    </form>
  </div>
</div>
