<div class="page-header">
  <h3>Saved Statement #<%= @saved_statement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Statement</dt>
      <dd>
        <% if @saved_statement.statement.present? %>
          <a href="/statements/<%= @saved_statement.statement_id %>">
            <%= @saved_statement.statement.body %>
          </a>
        <% end %>
      </dd>

      <dt>Resume</dt>
      <dd>
        <% if @saved_statement.resume.present? %>
          <a href="/resumes/<%= @saved_statement.resume_id %>">
            <%= @saved_statement.resume.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_statements" class="btn btn-primary">
        Back
      </a>
      <a href="/saved_statements/<%= @saved_statement.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_saved_statement/<%= @saved_statement.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
