<!-- Validation failure messages -->
<% if @statement.errors.any? %>
  <% @statement.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Statement #<%= @statement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_statement/<%= @statement.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @statement.user_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @statement.body %></textarea>
      </div>

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="<%= @statement.type %>">
      </div>

      <button class="btn btn-warning">
        Update Statement
      </button>
      or
      <a href="/statements/<%= @statement.id %>">Cancel</a>
    </form>
  </div>
</div>
