<div class="page-header">
  <h3>Statement #<%= @statement.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @statement.user.present? %>
          <a href="/users/<%= @statement.user_id %>">
            <%= @statement.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @statement.body %></dd>

      <dt>Type</dt>
      <dd><%= @statement.type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/statements" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @statement.user %>
        <a href="/statements/<%= @statement.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_statement/<%= @statement.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Statement has many saved_statements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Saved_statements
      </li>

      <% @statement.saved_statements.each do |saved_statement| %>
        <li class="list-group-item">
          <a href="/saved_statements/<%= saved_statement.id %>">
            <%= saved_statement.id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/saved_statements/<%= saved_statement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/saved_statements/<%= saved_statement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_saved_statement/<%= saved_statement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_saved_statement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for statement_id -->
      <input type="hidden" name="statement_id" value="<%= @statement.id %>">

      <!-- Label and input for resume_id -->
      <div class="form-group">
        <label for="resume_id" class="control-label">
          Resume
        </label>

        <%= select_tag(:resume_id, options_from_collection_for_select(Resume.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Saved Statement
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Statement has many resumes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Resumes
      </li>

      <% @statement.resumes.each do |resume| %>
        <li class="list-group-item">
          <a href="/resumes/<%= resume.id %>">
            <%= resume.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/resumes/<%= resume.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/resumes/<%= resume.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_resume/<%= resume.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
