<div class="page-header">
  <h3>Saved Bullet #<%= @saved_bullet.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Bullet</dt>
      <dd>
        <% if @saved_bullet.bullets.present? %>
          <a href="/bullets/<%= @saved_bullet.bullet_id %>">
            <%= @saved_bullet.bullets.body %>
          </a>
        <% end %>
      </dd>

      <dt>Resume</dt>
      <dd>
        <% if @saved_bullet.resume.present? %>
          <a href="/resumes/<%= @saved_bullet.resume_id %>">
            <%= @saved_bullet.resume.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/saved_bullets" class="btn btn-primary">
        Back
      </a>
      <a href="/saved_bullets/<%= @saved_bullet.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_saved_bullet/<%= @saved_bullet.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
