<div class="page-header">
  <h1>
    Organizations
    <a href="/organizations/new" class="btn btn-lg btn-success">New Organization</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "organizations_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :organization_cont, "Organization contains" %>
    <%= f.text_field :organization_cont, :class => "form-control", :placeholder => "Organization contains" %>
  </div>

<div class="form-group">
    <%= f.label :end_month_cont, "End month contains" %>
    <%= f.text_field :end_month_cont, :class => "form-control", :placeholder => "End month contains" %>
  </div>

<div class="form-group">
          <%= f.label :start_month, "Start month" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='start_monthgteqPicker'>
                  <%= f.text_field :start_month_gteq, :class => "form-control", :placeholder => "Start month greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='start_monthlteqPicker'>
                  <%= f.text_field :start_month_lteq, :class => "form-control", :placeholder => "Start month less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#start_monthgteqPicker').datetimepicker({
                  format: 'MM/DD/YYYY'
              });
              $('#start_monthlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'MM/DD/YYYY'
              });
              $('#start_monthgteqPicker').on("dp.change", function (e) {
                  $('#start_monthlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#start_monthlteqPicker').on("dp.change", function (e) {
                  $('#start_monthgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :bullets_body_cont, "Bullet body contains" %>
      <%= f.text_field :bullets_body_cont, :class => "form-control", :placeholder => "Bullet body contains" %>
    </div>

<div class="form-group">
      <%= f.label :user_username_cont, "User username contains" %>
      <%= f.text_field :user_username_cont, :class => "form-control", :placeholder => "User username contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/organizations" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#organizations_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Organization</th>
        <th>Category</th>
        <th>Start month</th>
        <th>End month</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organization %></td>
        <td><%= organization.category %></td>
        <td><%= organization.start_month %></td>
        <td><%= organization.end_month %></td>
        <td>
          <% if organization.user.present? %>
            <a href="/users/<%= organization.user.id %>">
              <%= organization.user.username %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/organizations/<%= organization.id %>" class="btn btn-primary">Show</a>

          <% if current_user == organization.user %>
            <a href="/organizations/<%= organization.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_organization/<%= organization.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @organizations, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
