<div class="page-header">
  <h3>Organization #<%= @organization.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Organization</dt>
      <dd><%= @organization.organization %></dd>

      <dt>Start month</dt>
      <dd><%= @organization.start_month %></dd>

      <dt>End month</dt>
      <dd><%= @organization.end_month %></dd>

      <dt>User</dt>
      <dd><%= @organization.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/organizations" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @organization.user %>
        <a href="/organizations/<%= @organization.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_organization/<%= @organization.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Organization has many bullets -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bullets
      </li>

      <% @organization.bullets.each do |bullet| %>
        <li class="list-group-item">
          <a href="/bullets/<%= bullet.id %>">
            <%= bullet.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bullets/<%= bullet.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bullets/<%= bullet.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bullet/<%= bullet.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bullet" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for organization_id -->
      <input type="hidden" name="organization_id" value="<%= @organization.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Bullet
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
